language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '10'
  - '8'
before_script:
  - node ./test/setup_config.js
after_success:
  - npm run coverage
branches:
  only:
    - master
    - dev
